
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff3d4;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #3f84c5;
    letter-spacing: 1px;
}

h2 {
    padding-top: 10px;
    font-size: 32px;
    text-transform: uppercase;
    color: #61a0db;
}

h3 {
    font-size: 24px;
    color: #f7a541;
}
